#map {
	top:100px;
	bottom: 100px; 
	left: 100px;
	right: 100px;
}
#migration {
	top:100px;
	bottom: 100px; 
	left: 100px;
	right: 100px;
	
}
#work_hour {
	top:100px;
	bottom: 100px; 
	left: 100px;
	right: 100px;
	
}
#salary_by_occupation {
	top:100px;
	bottom: 100px; 
	left: 100px;
	right: 100px;

}
header {
	background-color: #666;
	padding: 10px;
	text-align: center;
	font-size: 35px;
	color: white;
  }
section {
	display: -webkit-flex;
	display: flex;
  }
body{
	background-color: rgb(167, 163, 163);
	
}